@import "tailwindcss";

@theme {
  --font-sans: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

@layer utilities {
  .bg-grid-notebook {
    --grid-color: #ecebe4c4;
    --bg: #F7F5ED;

    background-color: var(--bg);
    background-image:
      linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}
