@import "tailwindcss";

@theme {
  --font-sans: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  --bg-color: #f7f5ed;
  --grid-color: #ecebe4c4;
  --blue-grid-color: #bfd3d2;
}

@layer utilities {
  .bg-grid-notebook {
    background-color: var(--bg-color);
    background-image:
      linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}
